.border_text {
    width: 100%;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.content_textarea {
    box-sizing: border-box;
    margin: 10px 0px;
    resize: none;
    width: 900px;
    height: 500px;
    outline: none;
    border: 1px solid rgb(223, 223, 223);
}